<!DOCTYPE html>
<html>
<head>
  <title>Searchengine</title>
  <%= stylesheet_link_tag    "searchengine/application", media: "all" %>
  <%= javascript_include_tag "searchengine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
